body {
    background-color: #e7e7e8;
    margin: 0;
  }
  
  h3 {
    margin-top: 0;
    background-color: #333;
    color: rgb(243, 243, 243);
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    font-family: 'Segoe UI';
  }
  
  .form {
    padding: 30px;
    width: 350px;
    border: 1px solid #3f8ebd;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    background: #fcfcfc;
    box-shadow: 0 0 6px #333;
  }
  
  #txtTodo {
    font-size: 20px;
    font-family: "Gill Sans";
    padding: 5px 10px;
  }
  
  #btnAdd {
    font-size: 20px;
    font-family: "Gill Sans";
    padding: 5px 10px;
    padding: 5px 30px;
  }
  
  h5 {
      font-size: 20px;
      font-family: 'Segoe UI';
      margin-left: 50px;
      margin-bottom: 10px;
      color: #333;
  }
  
  
  .list {
      margin: 0 30px;
  }
  
  .list li {
      list-style: none;
      margin-bottom: 7px;
      padding: 7px 10px;
      border: 1px solid #3f8ebd;
      border-radius: 3px;
      background: #fcfcfc;
      font-size: 18px;
      color:#333;
      font-family: sans-serif;
  }
  
  .list li:hover {
      box-shadow: 0 0 6px #66bbec;
      padding: 10px 10px;
      border-left-width: 7px;
      padding-left: 7px;
      cursor: pointer;
  }
  